Source: pve-qemu-kvm
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: autotools-dev,
               check,
               debhelper (>= 9),
               libacl1-dev,
               libaio-dev,
               libattr1-dev,
               libcap-ng-dev,
               libcurl4-gnutls-dev,
               libepoxy-dev,
               libfdt-dev,
               libgbm-dev,
               libglusterfs-dev (>= 5.2-2),
               libgnutls28-dev,
               libiscsi-dev (>= 1.12.0),
               libjemalloc-dev,
               libjpeg-dev,
               libjson-perl,
               libnuma-dev,
               libpci-dev,
               libpixman-1-dev,
               libproxmox-backup-qemu0-dev (>= 1.0.3-1),
               librbd-dev (>= 0.48),
               libsdl1.2-dev,
               libseccomp-dev,
               libspice-protocol-dev (>= 0.12.14~),
               libspice-server-dev (>= 0.14.0~),
               libsystemd-dev,
               liburing-dev,
               libusb-1.0-0-dev (>= 1.0.17-1),
               libusbredirparser-dev (>= 0.6-2),
               libvirglrenderer-dev,
               libzstd-dev,
               meson,
               python3-minimal,
               python3-sphinx,
               python3-sphinx-rtd-theme,
               quilt,
               texi2html,
               texinfo,
               uuid-dev,
               xfslibs-dev,
Standards-Version: 3.7.2

Package: pve-qemu-kvm
Architecture: any
Depends: ceph-common (>= 0.48),
         iproute2,
         libgfapi0 | glusterfs-common (>= 5.6),
         libgfchangelog0 | glusterfs-common (>= 5.6),
         libgfdb0 | glusterfs-common (>= 5.6),
         libgfrpc0 | glusterfs-common (>= 5.6),
         libgfxdr0 | glusterfs-common (>= 5.6),
         libglusterfs-dev | glusterfs-common (>= 5.6),
         libglusterfs0 | glusterfs-common (>= 5.6),
         libiscsi4 (>= 1.12.0) | libiscsi7,
         libjemalloc2,
         libjpeg62-turbo,
         libspice-server1 (>= 0.14.0~),
         libusb-1.0-0 (>= 1.0.17-1),
         libusbredirparser1 (>= 0.6-2),
         libuuid1,
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: numactl
Suggests: libgl1
Conflicts: kvm,
           pve-kvm,
           pve-qemu-kvm-2.6.18,
           qemu,
           qemu-kvm,
           qemu-system-arm,
           qemu-system-common,
           qemu-system-x86,
           qemu-utils,
Provides: qemu-system-arm, qemu-system-x86, qemu-utils
Replaces: pve-kvm,
          pve-qemu-kvm-2.6.18,
          qemu-system-arm,
          qemu-system-x86,
          qemu-utils,
Description: Full virtualization on x86 hardware
 Using KVM, one can run multiple virtual PCs, each running unmodified Linux or
 Windows images. Each virtual machine has private virtualized hardware: a
 network card, disk, graphics adapter, etc.

Package: pve-qemu-kvm-dbg
Architecture: any
Section: debug
Depends: pve-qemu-kvm (= ${binary:Version})
Description: pve qemu debugging symbols
 This package contains the debugging symbols for pve-qemu-kvm.
